@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

/* font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-weight: 500;
  font-weight: 700; */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(28, 28, 28, 1);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
  opacity: 0.7;
}

p + p {
  margin-top: 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

button {
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

.container {
  box-sizing: border-box;
  max-width: 1173px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  text-transform: uppercase;

  width: 165px;
  height: 49px;

  border-radius: 5px;
  background: rgba(246, 118, 44, 1);

  transition: opacity 0.5s;
}

.btn--small {
  width: 141px;
  height: 39px;

  font-size: 12px;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  opacity: 1;
}

.price {
  color: rgba(246, 118, 44, 1);
  font-size: 20px;
  font-weight: 500;

  letter-spacing: 0.1em;
}
.price--old {
  color: rgba(246, 118, 44, 1);
  font-size: 16px;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.price + .price {
  margin-left: 3px;
}

/* ------------------------- HEADER ------------------------- */

.header {
  padding: 25px 0px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;
}

.header__logo {
  margin-right: 60px;
}

.header__list {
  display: flex;
  gap: 28px;
}

.header__nav__link {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;

  transition: opacity 0.5s;
}

.header__nav__link--active {
  font-weight: 700;
  opacity: 1;
}

.header__nav__link:hover {
  opacity: 0.9;
}

.header__nav__link:active {
  opacity: 1.5;
}

.header--mobile {
}

/* ----------------------- БУРГЕР МЕНЮ ----------------------- */

.menu-icon {
  width: 40px;
  height: 30px;
  display: none;

  position: relative;
  background-color: transparent;

  padding: 0;
  border: none;
}

.menu-icon::after,
.menu-icon::before {
  content: "";
  position: absolute;
  left: 0;
}

.menu-icon::after {
  bottom: 0;
  transition: bottom 0.4s 0.3s, transform 0.4s;
}
.menu-icon::before {
  top: 0;
  transition: top 0.4s 0.3s, transform 0.4s;
}

.menu-icon__line,
.menu-icon::after,
.menu-icon::before {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.menu-icon--active .menu-icon__line {
  display: none;
}

.menu-icon--active::before {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;

  transition: top 0.4s, transform 0.4s 0.3s;
}

.menu-icon--active::after {
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;

  transition: bottom 0.4s, transform 0.4s 0.3s;
}

/* ------------------------- MAIN ------------------------- */

/* ------------------------- WELCOME ------------------------- */

.welcome {
  box-sizing: border-box;

  min-height: 100svh;
  margin-top: -99px;

  padding-bottom: 186px;
  padding-top: 286px;

  background-image: url("img/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
}
.welcome__container {
}
.welcome__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 7px;
}
.welcome__title {
  font-size: 58px;
  width: 555px;
  margin-bottom: 37px;
}
.welcome__desc {
  font-size: 18px;
  width: 525px;
  margin-bottom: 42px;
}

/* ------------------------ FOOD-LIST ------------------------ */

.food-list {
  padding-bottom: 102px;
  padding-top: 115px;
}

.food-list__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 31px;
}
.food-list__card {
  width: 262px;
  min-height: 323px;

  text-align: center;

  border-radius: 10px;
  background: rgba(49, 47, 48, 1);

  overflow: hidden;
}
.food-list__img {
  width: 100%;
  height: 175px;

  object-fit: cover;

  margin-bottom: 28px;

  transition: width 0.5s, height 0.5s, margin-left 0.5s, margin-bottom 0.5s;
}

.food-list__card:hover .food-list__img {
  width: 110%;
  height: 185px;
  margin-left: -5%;
  margin-bottom: 18px;
}

.food-list__title {
  font-size: 20px;

  margin-bottom: 13px;
}

.food-list__desc {
  padding: 0 16px 10px;
}

/* ------------------------ ORDER ------------------------ */

.order {
  background-color: rgba(49, 47, 48, 1);
  padding: 60px 0;
}

.order__container {
  display: flex;
  align-items: center;
  gap: 14%;
}
.order__img {
  max-width: 470px;
}
.order__col {
  max-width: 370px;
}
.order__title {
  font-size: 44px;

  margin-bottom: 24px;
}
.order__desc {
  margin-bottom: 13px;
}

.price {
  color: rgba(246, 118, 44, 1);
  font-size: 20px;
  font-weight: 500;

  letter-spacing: 0.1em;
}
.price--old {
  color: rgba(246, 118, 44, 1);
  font-size: 16px;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.price + .price {
  margin-left: 3px;
}

.order__btn {
  margin-top: 11px;
}

/* ------------------------ PRODUCT ------------------------ */

.product {
  padding: 117px 0 20px;
}

.product__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.product__card {
  display: flex;
  align-items: center;

  position: relative;

  box-sizing: border-box;
  width: 555px;
  height: 300px;
  padding: 0 50px;

  overflow: hidden;
}

.product__card:nth-child(odd) {
  padding-left: 290px;
  padding-right: 20px;
}

.product__img {
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: -5;

  transition: width 0.5s, height 0.5s, transform 0.5s;
}

.product__card:hover .product__img {
  width: 110%;
  height: 110%;

  transform: translate(-5%, 5%);
}

.product__title {
  font-size: 30px;

  margin-bottom: 20px;
}
.product__desc {
  margin-bottom: 11px;
  width: 255px;
}
.product .price {
  font-size: 16px;
}

.product__btn {
  margin-top: 11px;
}

/* ---------------------- FEEDBACK ---------------------- */

.feedback {
  text-align: center;
  padding: 100px 0;
}

.container {
}

.feedback__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px 118px;
}

.feedback_img {
  margin-bottom: 50px;
}

.feedback__text {
  margin: 0;

  display: flex;
  flex-direction: column;

  max-width: 370px;
}

.feedback__text::before {
  content: url("img/icons/quote.svg");
  width: 46px;
  height: 46px;

  margin-bottom: 37px;
  align-self: center;
}

.feedback__desc {
  opacity: 0.7;

  margin-bottom: 27px;
}

.feedback__author {
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
}

.feedback__subauthor {
  opacity: 0.7;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

/* ---------------------- DOWNLOAD ---------------------- */

.download {
  background-color: rgba(49, 47, 48, 1);
  padding: 60px 0;
}

.download__container {
  display: flex;
  justify-content: space-between;

  padding: 0 93px;
}

.download__cta {
  opacity: 1;
  font-size: 40px;
  font-weight: 500;
}

/* ---------------------- FOOTER ---------------------- */

.footer {
  padding: 126px 0 140px;
}
.footer a {
  opacity: 0.8;
  font-size: 12px !important;

  transition: opacity 0.5s;
}

.footer a:hover {
  opacity: 0.5;
}

.footer a:active {
  opacity: 1;
}
.container {
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts a {
  padding-left: 22px;
  position: relative;
}

.footer__logo {
  width: 70px;
  height: 70px;

  margin-bottom: 20px;
}

.footer__link + .footer__link {
  margin-top: 9px;
}

.footer__link-mail::before {
  content: url("img/icons/mail.svg");
  bottom: 3px;
  left: 0;

  position: absolute;
  width: 12px;
  height: 12px;
}

.footer__link-web::before {
  content: url("img/icons/global.svg");
  bottom: 3px;
  left: 0;

  position: absolute;
  width: 12px;
  height: 12px;
}

.footer__nav-list {
  display: flex;
  gap: 158px;
}

.footer__nav-list-title {
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}
.footer__inner-list a {
  display: block;
  margin-top: 15px;
}
.footer__inner-list-socials {
  display: flex;
  gap: 10px;
}
.footer__social-img {
  width: 15px;
  height: 15px;
  opacity: 1 !important;
  transition: width 0.3s, height 0.3s, transform 0.3s;
}
.footer__social-img:hover {
  width: 21px;
  height: 21px;
  transform: translate(-3px, -3px);
}

/* ---------------------- МЕДИА-ЗАПРОСЫ ---------------------- */

@media (max-width: 1172px) {
  .product__container {
    justify-content: center;
  }
  .food-list__container {
    justify-content: center;
    column-gap: 180px;
  }

  .footer__nav-list {
    justify-content: space-between;
    gap: 130px;
    flex-wrap: wrap;
  }

  .footer__container {
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
  }

  .order__container {
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1100px) {
  .welcome {
    padding-bottom: 170px;
    padding-top: 250px;
  }

  .welcome__title {
    font-size: 52px;
    margin-bottom: 20px;
    width: 50%;
  }

  .welcome__desc {
    width: 45%;
    margin-bottom: 25px;
  }

  .food-list__container {
    justify-content: center;
    column-gap: 145px;
  }

  .order__title {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .order__col {
    max-width: 320px;
  }
}

@media (max-width: 1000px) {
  .header__logo {
    margin-right: 0;
  }

  .welcome {
    padding-bottom: 160px;
    padding-top: 230px;
  }

  .welcome__title {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .welcome__desc {
    margin-bottom: 20px;
  }

  .food-list__container {
    column-gap: 100px;
  }

  .footer__nav-list {
    gap: 50px;
  }

  .order__col {
    text-align: center;
  }

  .order__btn {
    margin: 11px auto 0;
  }

  .product {
    padding: 80px 0 10px;
  }

  .feedback__container {
    gap: 0px 80px;
  }

  .footer__container {
    justify-content: center;
    gap: 50px;
  }
}

@media (max-width: 900px) {
  .welcome {
    padding-bottom: 155px;
    padding-top: 200px;
  }

  .welcome__desc {
    margin-bottom: 18px;
  }

  .food-list {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .food-list__container {
    column-gap: 50px;
  }

  .order__img {
    max-width: 400px;
  }

  .feedback__container {
    flex-direction: column;
  }

  .footer {
    padding: 80px 0 100px;
  }
}

@media (max-width: 800px) {
  .header__container {
    padding: 0 35px;
  }

  .header__btn {
    display: none;
  }

  .welcome {
    padding-bottom: 140px;
    padding-top: 190px;
  }

  .welcome__desc {
    font-size: 16px;
  }

  .order__img {
    max-width: 350px;
  }

  .feedback {
    padding: 50px 0;
  }
  .download {
    padding: 40px 0;
  }

  .download__cta {
    font-size: 35px;
  }

  .download__container {
    padding: 0 55px;
  }

  .footer {
    padding: 50px 0 60px;
  }

  .footer__container {
    display: grid;
    grid-template:
      "nav" auto
      "contacts" max-content / auto;
    gap: 80px;
    align-items: center;
  }

  .footer__nav-list {
    grid-area: nav;
    justify-content: space-evenly;
    gap: 80px;
    align-items: center;
    text-align: center;
    padding: 0 40px;
  }

  .footer__contacts {
    grid-area: contacts;
    align-items: center;
  }

  .footer__inner-list-socials {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .welcome {
    padding-top: 170px;
    padding-bottom: 110px;
  }

  .download__container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .product__card {
    width: 450px;
    height: 243px;
    padding: 0 30px;
  }

  .product__card:nth-child(odd) {
    padding-left: 230px;
    padding-right: 15px;
  }

  .product__desc {
    width: 200px;
  }

  .feedback__desc {
    margin-bottom: 15px;
  }

  .feedback__author {
    font-size: 20px;
  }

  .feedback_img {
    max-width: 300px;
  }

  .footer__nav-list {
    grid-area: nav;
    justify-content: space-evenly;
    gap: 80px;
    align-items: center;
    text-align: center;
    padding: 0 70px;
  }
}

@media (max-width: 570px) {
  .welcome {
    padding-top: 155px;
    padding-bottom: 90px;
  }

  .welcome__title {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .welcome__desc {
    font-size: 14px;
  }

  .menu-icon {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header--mobile {
    min-height: 100svh;
  }

  .header--mobile {
    box-sizing: border-box;
    min-height: 100svh;
  }

  .header--mobile .menu-icon {
    grid-area: menu;
    justify-self: end;
  }

  .header--mobile .footer__logo {
    grid-area: logo;
  }

  .header--mobile .container {
    display: grid;
    grid-template:
      "logo menu" max-content
      "nav nav" 1fr / 1fr 1fr;
  }

  .header--mobile .header__nav {
    grid-area: nav;
    display: block;
    flex-direction: column;
    margin-top: 50px;
  }

  .header--mobile .header__list {
    display: flex;
    flex-direction: column;
    gap: 13svh;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .header--mobile ~ * {
    display: none;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }

  .btn {
    width: 149px;
    height: 39px;
  }

  .btn--small {
    width: 120px;
    height: 32px;
  }

  .welcome {
    padding-bottom: 90px;
    padding-top: 140px;
  }

  .welcome__container {
    padding: 0 25px;
  }

  .order__img {
    max-width: 290px;
  }

  .download__container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .product {
    padding: 50px 0 10px;
  }

  .product__card {
    width: 360px;
    height: 195px;
    padding: 0 20px;
  }

  .product__card:nth-child(odd) {
    padding-left: 185px;
    padding-right: 15px;
  }

  .product__title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .product__desc {
    width: 160px;
  }

  .footer__nav-list {
    grid-area: nav;
    flex-direction: column;
    gap: 50px;
  }

  .footer__container {
    gap: 65px;
  }

  .download__cta {
    font-size: 30px;
  }
}

@media (max-width: 435px) {
  .welcome {
    padding-bottom: 70px;
    padding-top: 25svh;
  }

  .welcome__title {
    font-size: 25px;
  }

  .product__card {
    width: 300px;
    height: 162px;
    padding: 0 20px;
  }

  .product__card:nth-child(odd) {
    padding-left: 150px;
    padding-right: 15px;
  }

  .product__title {
    font-size: 20px;
  }

  .product__desc {
    font-size: 12px;
    width: 140px;
  }

  .feedback_img {
    max-width: 265px;
  }

  .download__cta {
    text-align: center;
  }
}
