@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

/* font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-weight: 500;
  font-weight: 700; */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(28, 28, 28, 1);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
  opacity: 0.7;
}

p + p {
  margin-top: 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  box-sizing: border-box;
  max-width: 1173px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  text-transform: uppercase;

  width: 165px;
  height: 49px;

  border-radius: 5px;
  background: rgba(246, 118, 44, 1);

  transition: opacity 0.5s;
}

.btn--small {
  width: 141px;
  height: 39px;

  font-size: 12px;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  opacity: 1;
}

.price {
  color: rgba(246, 118, 44, 1);
  font-size: 20px;
  font-weight: 500;

  letter-spacing: 0.1em;
}
.price--old {
  color: rgba(246, 118, 44, 1);
  font-size: 16px;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.price + .price {
  margin-left: 3px;
}

/* ------------------------- HEADER ------------------------- */

.header {
  padding: 25px 0px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;
}

.header__logo {
  margin-right: 60px;
}

.header__list {
  display: flex;
  gap: 28px;
}

.header__nav__link {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;

  transition: opacity 0.5s;
}

.header__nav__link--active {
  font-weight: 700;
  opacity: 1;
}

.header__nav__link:hover {
  opacity: 0.9;
}

.header__nav__link:active {
  opacity: 1.5;
}

/* ------------------------- MAIN ------------------------- */

/* ------------------------- WELCOME ------------------------- */

.welcome {
  box-sizing: border-box;

  min-height: 100vh;
  margin-top: -99px;

  padding-bottom: 186px;
  padding-top: 286px;

  background-image: url("img/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
}
.welcome__container {
}
.welcome__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 7px;
}
.welcome__title {
  font-size: 58px;
  width: 555px;
  margin-bottom: 37px;
}
.welcome__desc {
  font-size: 18px;
  width: 525px;
  margin-bottom: 42px;
}

/* ------------------------ FOOD-LIST ------------------------ */

.food-list {
  padding-bottom: 102px;
  padding-top: 115px;
}

.food-list__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 31px;
}
.food-list__card {
  width: 262px;
  min-height: 323px;

  text-align: center;

  border-radius: 10px;
  background: rgba(49, 47, 48, 1);

  overflow: hidden;
}
.food-list__img {
  width: 100%;
  height: 175px;

  object-fit: cover;

  margin-bottom: 28px;

  transition: width 0.5s, height 0.5s, margin-left 0.5s, margin-bottom 0.5s;
}

.food-list__card:hover .food-list__img {
  width: 110%;
  height: 185px;
  margin-left: -5%;
  margin-bottom: 18px;
}

.food-list__title {
  font-size: 20px;

  margin-bottom: 13px;
}

.food-list__desc {
  padding: 0 16px 10px;
}

/* ------------------------ ORDER ------------------------ */

.order {
  background-color: rgba(49, 47, 48, 1);
  padding: 60px 0;
}

.order__container {
  display: flex;
  align-items: center;
  gap: 14%;
}
.order__img {
  max-width: 470px;
}
.order__col {
  max-width: 370px;
}
.order__title {
  font-size: 44px;

  margin-bottom: 24px;
}
.order__desc {
  margin-bottom: 13px;
}

.price {
  color: rgba(246, 118, 44, 1);
  font-size: 20px;
  font-weight: 500;

  letter-spacing: 0.1em;
}
.price--old {
  color: rgba(246, 118, 44, 1);
  font-size: 16px;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.price + .price {
  margin-left: 3px;
}

.order__btn {
  margin-top: 11px;
}

/* ------------------------ PRODUCT ------------------------ */

.product {
  padding: 117px 0 20px;
}

.product__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.product__card {
  display: flex;
  align-items: center;

  position: relative;

  box-sizing: border-box;
  width: 555px;
  height: 300px;
  padding: 0 50px;

  overflow: hidden;
}

.product__card:nth-child(odd) {
  padding-left: 290px;
  padding-right: 20px;
}

.product__img {
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: -5;

  transition: width 0.5s, height 0.5s, transform 0.5s;
}

.product__card:hover .product__img {
  width: 110%;
  height: 110%;

  transform: translate(-5%, 5%);
}

.product__title {
  font-size: 30px;

  margin-bottom: 20px;
}
.product__desc {
  margin-bottom: 11px;
  width: 255px;
}
.product .price {
  font-size: 16px;
}

.product__btn {
  margin-top: 11px;
}

/* ---------------------- FEEDBACK ---------------------- */

.feedback {
  text-align: center;
  padding: 100px 0;
}

.container {
}

.feedback__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px 118px;
}

.feedback_img {
  margin-bottom: 50px;
}

.feedback__text {
  margin: 0;

  display: flex;
  flex-direction: column;

  width: 370px;
}

.feedback__text::before {
  content: url("img/icons/quote.svg");
  width: 46px;
  height: 46px;

  margin-bottom: 37px;
  align-self: center;
}

.feedback__desc {
  opacity: 0.7;

  margin-bottom: 27px;
}

.feedback__author {
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
}

.feedback__subauthor {
  opacity: 0.7;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

/* ---------------------- DOWNLOAD ---------------------- */

.download {
  background-color: rgba(49, 47, 48, 1);
  padding: 60px 0;
}

.download__container {
  display: flex;
  justify-content: space-between;

  padding: 0 93px;
}

.download__cta {
  opacity: 1;
  font-size: 40px;
  font-weight: 500;
}

/* ---------------------- FOOTER ---------------------- */

.footer {
  padding: 126px 0 140px;
}
.footer a {
  opacity: 0.8;
  font-size: 12px !important;

  transition: opacity 0.5s;
}

.footer a:hover {
  opacity: 0.5;
}

.footer a:active {
  opacity: 1;
}
.container {
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts a {
  padding-left: 22px;
  position: relative;
}

.footer__logo {
  width: 70px;
  height: 70px;

  margin-bottom: 20px;
}

.footer__link + .footer__link {
  margin-top: 9px;
}

.footer__link-mail::before {
  content: url("img/icons/mail.svg");
  bottom: 3px;
  left: 0;

  position: absolute;
  width: 12px;
  height: 12px;
}

.footer__link-web::before {
  content: url("img/icons/global.svg");
  bottom: 3px;
  left: 0;

  position: absolute;
  width: 12px;
  height: 12px;
}
.footer__nav {
}
.footer__nav-list {
  display: flex;
  gap: 158px;
}

.footer__nav-list-title {
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}
.footer__inner-list a {
  display: block;
  margin-top: 15px;
}
.footer__inner-list-socials {
  display: flex;
  gap: 10px;
}
.footer__social-img {
  width: 15px;
  height: 15px;
  opacity: 1 !important;
  transition: width 0.3s, height 0.3s, transform 0.3s;
}
.footer__social-img:hover {
  width: 21px;
  height: 21px;
  transform: translate(-3px, -3px);
}

/* ---------------------- МЕДИА-ЗАПРОСЫ ---------------------- */

@media (max-width: 1172px) {
  .product__container {
    justify-content: center;
  }
  .food-list__container {
    justify-content: center;
  }
}
